html {
  margin: auto;
}

body {
  background: #f1f1f1;
  font-family: 'Raleway', sans-serif;
  min-width: 20rem;
  background-image: linear-gradient(
    to bottom right,
    white,
    #f1f1f1,
    #eee,
    #ddd
  );
}

.header {
  font-weight: bold;
  margin-bottom: 0.5rem;
  background: #444;
}

.header__headline {
  font-size: 1.5rem;
  color: white;
  padding: 1rem;
}

.header__instructions {
  font-weight: normal;
  padding: 1em;
  background: white;
}

.headline__sub {
  color: #555;
  padding-bottom: 0.25em;
  font-size: 1rem;
}

.form {
  padding: 1rem;
}
.form__label {
  display: block;
}
.form__control {
  margin-bottom: 0.5rem;
}

.form__submit {
  display: block;
  margin-top: 1rem;
}

.form__error {
  color: firebrick;
  font-weight: bold;
  margin: 1em 0 0.5em 0;
}

.loggedIn {
  margin-top: 1rem;
}
.loggedIn__message {
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
}
.currentUrl {
  background: white;
  margin-bottom: 1rem;
  padding: 1rem;
}
.currentUrl__label {
  padding-top: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
}

.button-wrapper {
  padding: 0.5rem;
  text-align: center;
}

.results {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}
.results__mochi-figure {
  width: 50px;
}
.results__text {
  margin-top: 0.25em;
}

#linkError {
  padding-bottom: 0.25em;
  padding-left: 0.25em;
  font-weight: bold;
  color: firebrick;
  text-align: center;
}
